/* * {
  background-color: rgb(255, 255, 255);
} */

.full-sign {
  width: 20.5rem;
  height: 28rem;
  background: #ffffff;
  box-shadow: 20px 20px 250px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.pass-feild {
  margin-top: 8%;
}

.input-feild {
  margin: 40px;
}

.full-sign {
  border-radius: 15px;
}

.logo-img {
  width: 13.5rem;
  height: 4.0rem;
  display: flex;
  margin-left: 2.7rem;
}
.input-head {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 34px;
  color: #053743;
}

